[Unit]
Description=weather fake data generator

[Service]
WorkingDirectory=/home/pi/fakesonde
#ExecStartPre=/usr/bin/npm install
ExecStart=/usr/bin/npm start

[Install]
WantedBy=multi-user.target
